<div id="container">
  <main>
    <header style="display: flex ;" *ngIf="authService.userData as user">
      <img style="height: 50px ;"
        class="mr-5 img-thumbnail rounded-circle"
        src="{{ user.photoURL ? user.photoURL : '/assets/dummy-user.png' }}"
        alt="{{ user.displayName }}"
      />
      <div>
        <h2>{{ user.displayName ? user.displayName : "User" }}</h2>
        <!-- <h3>already 1902 messages</h3> -->
      </div>
    </header>
    <ul id="chat">
      <li class="me" *ngFor="let mensagem of mensagens | async">
        <div class="entete">
          <h3>{{ mensagem.date }} </h3>
          <h2> {{ " " + mensagem.nameUser }}</h2>
          <span class="status blue"></span>
        </div>
        <div class="message">
          {{ mensagem.text }}
        </div>
      </li>
    </ul>
  </main>
  <footer>
    <div style="display: flex">
      <input #searchCollectorInput
        [(ngModel)]="mensagem.text"
        style="border-radius: 20px 0px 0px 20px"
      />
      <button (click)="onSubimit()" (click)="searchCollectorInput.value = '';" type="submit" class="pesquisar">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </footer>
</div>
