<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Inscrever-se</h3>

      <div class="formGroup">
        <input
          type="email"
          class="formControl"
          placeholder="Endereço de email"
          #userEmail
          required
        />
      </div>

      <div class="formGroup">
        <input
          type="password"
          class="formControl"
          placeholder="senha"
          #userPwd
          required
        />
      </div>

      <div class="formGroup">
        <input
          type="button"
          class="btn btnPrimary"
          value="Inscrever-se"
          (click)="authService.SignUp(userEmail.value, userPwd.value)"
        />
      </div>
      <!-- Continue with Google -->
      <div class="formGroup">
        <button
          type="button"
          class="btn googleBtn"
          (click)="authService.GoogleAuth()"
        >
          <i class="fab fa-google-plus-g"></i>
          Continuar com Google
        </button>
      </div>
    </div>

    <div class="redirectToLogin">
      <span
        >já tem uma conta?
        <span class="redirect" routerLink="/sign-in">Entrar</span></span
      >
    </div>
  </div>
</div>
